.card2 {
  width: 45%;
  margin: 0 auto;
  background-color: whitesmoke;
  flex-direction: column;
  background-image: url("../../assets/fondoLoginHeader.jpeg"); /* Reemplaza 'ruta/a/la/imagen.jpg' con la ruta de tu imagen */
  border-radius: 25px;
  height: 580px;
  margin-bottom: 5%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.card-header {
  width: 100%;
  text-align: center;
  height: 30%;
}

.card-header img {
  margin-top: 5%;
  width: 120px;
  height: 120px;
}
.card-body {
  height: 70%;
  background-color: whitesmoke;
  border-radius: 25px;
}
.espacioCampos {
  width: 100%;
  height: 50px;
}
.campos {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 250px;
}
.campos label {
  margin-left: 5%;
  margin-right: 3%;
  color: black;
}
.campos input {
  margin: 0 auto;
  font-size: 16px;
  width: 80%;
  height: 30px;
  background-color: whitesmoke;
  color: black;
  border: none; /* Elimina todos los bordes */
  border-bottom: 1px solid black; /* Añade solo el borde inferior */
}

.grid1 {
  margin-left: 3 5px;
  padding: 10px;
  display: grid;
  color: black;
  text-align: left;
  grid-template-columns: repeat(2, 1fr);
}
.grid1 input {
  margin: 0 auto;
  font-size: 16px;
  width: 80%;
  height: 40px;
  background-color: whitesmoke;
  color: black;
  border: none; /* Elimina todos los bordes */
  border-bottom: 1px solid black; /* Añade solo el borde inferior */
}
.grid1 label {
  margin-top: 5%;
  margin-left: 5%;
}

.button {
  border-radius: 25px;
  color: whitesmoke;
}

.button:hover {
  background-color: #45a049;
}
