/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 5%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  margin-right: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-right {
  margin-right: 5%;
}
.navbar-right .search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-box button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 25px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #777;
}
